<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        button{
            background-color: aqua;
            width : 350px;
            height: 200px;
            font-size: 45px;
        }
        div {
            text-align: center
        }
        h1{
            margin-bottom: 100px;
        }
    </style>
</head>
<body>

<div>
    <h1>제 이름은 가연우입니다~</h1>
    <a href="/home"><button>제 집은 여수~</button></a><br>
    <a href="/info"><button>제 정보는?</button></a><br>
</div>

</body>
</html>