<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>mysql update</title>
    <style>

    </style>
</head>

<body>
<h2>
    update page
</h2>
<form method="post">
    <table>
        <tr>
            <td>id</td>
            <td><input type="text" name="id" value="<%= data.id%>" disabled/></td>
        </tr>
        <tr>
            <td>name</td>
            <td><input type="text" name="name" value="<%= data.name%>" /></td>
        </tr>
        <tr>
            <td>age</td>
            <td><input type="text" name="age" value="<%= data.age%>" /></td>
        </tr>
        <tr>
            <td>married</td>
            <td><input type="text" name="married" value="<%= data.married%>" /></td>
        </tr>
        <tr>
            <td>created_at</td>
            <td><input type="text" name="created_at" value="<%= data.created_at%>" /></td>
        </tr>
    </table>
    <input type="submit">
</form>

</body>

</html>